In [13]:
print("Hello World")

Hello World

In [14]:
# Order of Operation
2 + 3 - 5 ** 3 // 4

-26

Determining the Type of an Operator

In [15]:
type(123)

int

In [16]:
type(123.7932432)

float

In [17]:
type(True)

bool

In [18]:
type('A')

str

In [19]:
type('Sri Manikanta')

str

Typecasting

In [20]:
# Converting Float to Integer
int(12.323243)

12

In [21]:
# Converting boolean to Integer
print(int(True))
print(int(False))

1
0

In [23]:
# Integer to Float Conversion
float(122)

122.0

In [24]:
# Boolean to Float Conversion
print(float(True))
print(float(False))

1.0
0.0

In [25]:
# Integer to Boolean Conversion
bool(123)

True

In [26]:
bool(-231)

True

In [28]:
bool(0.0001)

True

In [29]:
bool(0)

False

In [30]:
bool('Sri Manikanta')

True

Python Inbuilt Keywords

In [31]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [34]:
import string
print(string.ascii_letters)

abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ

 Dealing with the Input Statements

In [35]:
myName = input("Enter your name:")

Enter your name:Sri Manikanta

In [36]:
# Printing the Myname to the user
print(myName)

Sri Manikanta

Dealing with String slicing and other operations

In [37]:
myString = "New York and Sanfrancisco"

In [38]:
myString[1:]

'ew York and Sanfrancisco'

In [43]:
myString[-1]

'o'

In [48]:
myString[-15:-1]

'nd Sanfrancisc'

In [49]:
myString.count('o')

2

In [50]:
myString.lower()

'new york and sanfrancisco'

In [51]:
myString.upper()

'NEW YORK AND SANFRANCISCO'

In [52]:
myString

'New York and Sanfrancisco'

In [54]:
myString.capitalize()

'New york and sanfrancisco'

In [55]:
myString.casefold()

'new york and sanfrancisco'

Boolean Variables

In [56]:
overage_18 = True

In [57]:
type(overage_18)

bool

In [58]:
over_18, over_21 = True, False

In [59]:
over_18 and over_21

False

In [60]:
over_18 or over_21

True

In [61]:
not over_18

False

In [62]:
not over_21 or (over_21 or over_18)

True

Comparison Operators

In [63]:
myAge = 20

In [64]:
myAge < 15

False

In [65]:
myAge >= 20 and myAge < 22

True

In [66]:
65 == 65.0

True

In [67]:
65 is 65.00

False

In [68]:
myIncome = 2459000
myFriendsIncome = 3500000

In [69]:
myIncome > myFriendsIncome

False

In [70]:
not(myIncome > myFriendsIncome)

True

In [71]:
myIncome = 2459000
myFriendsIncome = 2459000

In [72]:
myIncome == myFriendsIncome

True

In [73]:
myIncome is myFriendsIncome

False

In [74]:
# Wierd Behaviour of is Operator
myIncome = 2459000
myFriendsIncome = myIncome

In [76]:
myIncome == myFriendsIncome

True

In [77]:
myIncome is myFriendsIncome

True

String Comparisons

In [78]:
'a' > 'c'

False

In [79]:
'A' > 'a'

False

In [80]:
'a' > 'Z'

True

In [81]:
'New York' > 'San Francisco'

False

### Conditional Statements: if, else, elif

In [82]:
if myAge >= 18:
    print("You are Eligible to Vote.")

You are Eligible to Vote.

In [84]:
personAge = int(input("Please tell me your age:"))

# Performing the conditional Operations
if personAge >= 18:
    print('your are eligible to vote.')
elif personAge < 18:
    print("You are too young to vote.")
elif personAge > 125:
    print("Please Verify your birth Certificate.")

Please tell me your age:26
your are eligible to vote.

#### Loo